<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../static/js/jquery.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/menubotton.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{{=URL('static','css/materialize.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/home.css')}}">
</head>
<body>
	 <div id="menubot"; class="fixed-action-btn horizontal click-to-toggle"onclick="btn4Click()" style="top: -5px; left: 30px;">
	    <a class="btn-floating btn-large red">
	      <i class="material-icons">menu</i>
	    </a>
	    <ul>
	      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
	      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
	      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
	      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
	    </ul>
	  </div>

	</div>
  <center><img id ="logoApp" src="../static/images/Logo-png-InfQ-Remake.png"></center>
  

  <!-- SCAN BUTTON -->
  <center><a class="waves-effect waves-light btn-large">Button</a></center>
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>
</html>