<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/acercade.js"></script>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/acercade.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>    

  <div id="scroll-animate">
    <div id="scroll-animate-main">
      <div class="wrapper-parallax">
        <header>
          <h1>Header</h1>
        </header>

        <section class="content">
          <h1>Content</h1>
              <a href="{{=URL('default','index')}}" class="btn-floating btn-large waves-effect waves-light right red fixed-btn-bottom tooltipped" data-position="left" data-delay="50" data-tooltip="Home"><i class="material-icons">home</i></a>
        </section>

        <footer>
          <h1>Footer</h1>
        </footer>
      </div>
    </div>
  </div>
  <!-- https://codepen.io/hudsonmarinho/pen/FHGeK toda la merca-->

</body>
</html>