<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/materialize.min.js')}}"></script>
    <link rel="stylesheet" href="{{=URL('static','css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/plano.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>    
  
  </body>
</html>