{{#extend 'layout.html'}}
<head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Bienal</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/infoController.css')}}"/>
    <!-- Material Lite -->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">-->
    <!-- Bootstrap -->
     <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
<body>
    <!-- Aca va mi Codigo -->
  <nav id="navbar1" class="navbar navbar-default  navbar-collapse" role="tablist">
    <div class="container">
    	<center>
  	    <a href="#bienal" aria-controls="home" role="tab" data-toggle="tab"><button id="buttonNavbar" type="button" class="btn btn-default navbar-btn"><img id="button-Nav-Img" src="{{=URL('static','images/info-bienal.jpg')}}"></button></a>
  	    <a href="#urunday" aria-controls="profile" role="tab" data-toggle="tab"><button id="buttonNavbar" type="button" class="btn btn-default navbar-btn"><img id="button-Nav-Img" src="{{=URL('static','images/info-urunday.jpg')}}"></button></a>
  	    <a href="#artistas" aria-controls="settings" role="tab" data-toggle="tab"><button id="buttonNavbar" type="button" class="btn btn-default navbar-btn "><img id="button-Nav-Img" src="{{=URL('static','images/info-artistas.png')}}"></span></button></a>
    	</center>
    </div>
  </nav>
 

  <!-- Tab panes -->
  <div class="tab-content">
  	<div role="tabpanel" class="tab-pane active" id="bienal">
  		<div id="jumbotron-bienal" class="jumbotron">
  		  <center><U><h3>Bienal internacional de Esculturas</h3></U></center>
        <hr>
        <img id="imagen-Logo-Bienal" src="{{=URL('static','images/bienal-logo.png')}}"align="right" hspace="10">
  		  <div id="contenido-bienal" class="container"><font size ="12"face="arial" color="black"><p align="justify">La “Bienal Internacional de Esculturas” que se realiza desde 1988 en la ciudad de Resistencia, Argentina, es un concurso organizado por la Fundación Urunday y el Gobierno de la Provincia del Chaco. En cada edición, entre diez y quince artistas del ámbito regional, nacional e internacional son previamente seleccionados teniendo en cuenta su participación en éste u otros certámenes previos. Durante el plazo de una semana, deben realizar su obra al aire libre y a la vista de los visitantes. Al finalizar la semana, el sábado por la noche, se lleva a cabo una ceremonia de clausura, con su correspondiente entrega de premios. Al finalizar el concurso, las obras son expuestas durante 60 días. Luego de este tiempo, son repartidas en distintos puntos de la ciudad bajo el título de Patrimonio Cultural de la Ciudad de las Esculturas.
        <p align="justify">
        El concurso es el evento más importante que se lleva a cabo en Resistencia y esto se ve reflejado en los visitantes que reciben los escultores por día y los asistentes al acto de clausura. En los alrededores del área de trabajo se realizan distintas actividades culturales, como seminarios de arte, conciertos y espectáculos.
        <p align="justify">
        El eslogan con el que históricamente la Fundación Urunday presentó este certamen es el siguiente: &quot;<B>Invitamos a todos los habitantes del planeta a sentir la calidez de nuestra gente. Y les aseguramos, que en cada invierno de sus vidas, habrá un Chaco y una Resistencia, la Ciudad de las Esculturas.&quot;</B>
        </p>
        </font>
        </div>
  		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  		</div>
  	</div>

  	<div role="tabpanel" class="tab-pane" id="urunday">
      <div id="jumbotron-bienal" class="jumbotron">
        <h1>Fundacion Urunday</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
    
    <div role="tabpanel" class="tab-pane" id="artistas">
      <div id="bodyArtistas" clas="container">
		    <div class="row">
		      <div class="col-sm-6 col-md-4">
  		      <div class="thumbnail">
  		        <img src="http://www.bienaldelchaco.org/actividades/img/concurso_portada_alemania.png" height="500" width="500"alt="...">
  		        <div class="caption">
    		        <h3>Nils Hansen</h3>
    		        <p>2015: Exhibición Colectiva Arte en Papel Amateras, en Sofía, Bulgaria. Artista de élite en el ZBrushCentral.
        				<p>2011: 1º Premio del Público en el 5to Simposio de Escultura en Piedra, Roldán, Argentina. Cortometraje Eclíptico. Mención de Honor en el Los Angeles Reel Film Festival. Selección Oficial en el Festival RMFF. Selección Oficial en el Sexto Festival de Proyección de Cortometrajes. Selección Oficial en el Festival de Cine Las Vegas. Selección Oficial para los Cortos de Wimbledon. Artista de Élite en el ZBrushCentral.
        				<p>2009-2013: Beca de estudio del Gobierno Alemán.
        				<p>2005-2008: Beca de trabajo Sesam, Italia, Unión Europea.
        				<p>2001-2003: Beca Weiterbildung, de la Cámara de Artesanos, Colonia.
    				    <p>2003: 3º Mejor Aprendiz de Escultor, Alemania.</p>
              </div>
		        </div>
		      </div>
		    </div>
		  </div>
    </div>
  </div>
<!-- Script Creado por mi-->
<script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#myTabs a[href="#urunday"]').tab('show') // Select tab by name
$('#myTabs a:first').tab('show') // Select first tab
$('#myTabs a:last').tab('show') // Select last tab
$('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)
</script>

    <!-- The javascript =============================== -->
    <!-- Script de Material Lite-->
    <!--<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>-->
    <!-- Script de Bootstrap-->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  </body>
</html>